<p>overspeed works!</p>



<kendo-grid [kendoGridBinding]="incidentOverSpeed" kendoGridSelectBy="employeeId" [pageSize]="10" [pageable]="true"
    [sortable]="true" [resizable]="true" [columnMenu]="{ filter: true }" [pageable]="{
      pageSizes: [10, 25, 50, 100], 
      buttonCount: 10
    }">
    <ng-template kendoGridToolbarTemplate>
        
     
        <kendo-grid-spacer></kendo-grid-spacer>
        <button kendoGridExcelCommand type="button" [svgIcon]="excelSVG">Export to Excel</button>
        <button kendoGridPDFCommand [svgIcon]="pdfSVG">Export to PDF</button>
    </ng-template>
    <kendo-grid-column field="vehicleNumber" title="Vehicle Number"></kendo-grid-column>
    <kendo-grid-column field="description" title="Description"></kendo-grid-column>
    <kendo-grid-column field="startTime" title="Start Time"></kendo-grid-column>
    <kendo-grid-column field="endTime" title="End Time"></kendo-grid-column>
    <!-- <kendo-grid-column title="Action">
    <ng-template kendoGridCellTemplate >
      <a kendoButton
         themeColor="primary"
         look="outline"
         [routerLink]="['/incident/overspeed/resolveincident']">
        Resolve
      </a>
     
    </ng-template>
  </kendo-grid-column > -->

</kendo-grid>