.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.circular-border{
    border: 20px solid #5C8374; border-radius: 50%;
    max-height: 200px;
    min-height: 100px;
    height: 15vw;
    aspect-ratio: 1/1; 
}

.count{
    font-size: 55px;
    font-weight: bolder;
}